.title{
    font-size: 60px;
    font-weight: 400px;
    line-height: 70px;
    margin-bottom: 0px;
    margin-top: 100px;
    background: linear-gradient(to right, #FFF 20%, rgb(228, 56, 96) 40%, rgb(224, 50, 79) 60%, #FFF 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: sliding 1s ease-in-out 0.1s infinite alternate ;
 
    animation-play-state: running;
}